/* classnames */
.action{
    height: 80px !important;

}

.actionlogo{
    height: 50px !important;

}
.card-body-b{
    border-top-left-radius: 80px !important ;
    border-top-right-radius: 80px !important ;
}
.add__button{
    background-color: black;
    color:white;
    width: 80px;
    border:0;
    border-radius:3px;
}
.add__button:hover{
     background-color: black;
     opacity: 30px;
}
/* *{
    border: 1px solid red
} */